<a href="https://colab.research.google.com/github/srujan2309/Python-for-DS/blob/main/Association_Rules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import libraries

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
# conda install -c conda-forge mlxtend

In [3]:
titanic = pd.read_csv("Titanic.csv")
titanic.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

# Pre-Processing
As the data is not in transaction formation 
We are using transaction Encoder

In [4]:
df=pd.get_dummies(titanic)
df.head()

   Class_1st  Class_2nd  Class_3rd  ...  Age_Child  Survived_No  Survived_Yes
0          0          0          1  ...          1            1             0
1          0          0          1  ...          1            1             0
2          0          0          1  ...          1            1             0
3          0          0          1  ...          1            1             0
4          0          0          1  ...          1            1             0

[5 rows x 10 columns]

# Apriori Algorithm

In [5]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Class_1st, Age_Adult)
10  0.118582                             (Age_Adult, Class_2nd)
11  0.231713                           (Gender_Male, Class_3rd)
12  0.284871                             (Class_3rd, Age_Adult)
13  0.239891                           (Survived_No, Class_3rd)
14  0.391640                          (Class_Crew, Gender_Male)
15  0.402090                            (Class_Crew, Age_Adult)
16  0.305770                          (Class_Crew, Survived_No)
17  0.193094                         (Gender_Female, Age_Adult)
18  0.156293                      (Gender_Female, Survived_Yes)
19  0.757383                           (Gender_Male, Age_Adult)
20  0.619718                         (Gender_Male, Survived_No)
21  0.166742                        (Gender_Male, Survived_Yes)
22  0.653339                           (Survived_No, Age_Adult)
23  0.297138                          (Survived_Yes, Age_Adult)
24  0.209905                (Gender_Male, Class_3rd, Age_Adult)
25  0.191731              (Gender_Male, Survived_No, Class_3rd)
26  0.216265                (Age_Adult, Survived_No, Class_3rd)
27  0.391640               (Class_Crew, Gender_Male, Age_Adult)
28  0.304407             (Class_Crew, Gender_Male, Survived_No)
29  0.305770               (Class_Crew, Survived_No, Age_Adult)
30  0.143571           (Gender_Female, Survived_Yes, Age_Adult)
31  0.603816              (Gender_Male, Survived_No, Age_Adult)
32  0.153567             (Gender_Male, Survived_Yes, Age_Adult)
33  0.175829   (Gender_Male, Age_Adult, Survived_No, Class_3rd)
34  0.304407  (Class_Crew, Gender_Male, Survived_No, Age_Adult)

In [6]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

                  antecedents  ... conviction
0                 (Class_1st)  ...   2.682493
1                 (Age_Adult)  ...   1.005694
2                 (Age_Adult)  ...   0.994601
3                 (Class_2nd)  ...   0.588085
4               (Gender_Male)  ...   0.962947
..                        ...  ...        ...
101  (Survived_No, Age_Adult)  ...   1.139090
102              (Class_Crew)  ...   1.630802
103             (Gender_Male)  ...   1.132622
104             (Survived_No)  ...   1.105434
105               (Age_Adult)  ...   1.023334

[106 rows x 9 columns]

#####  An leverage value of 0 indicates independence. Range will be [-1 1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [7]:
rules.sort_values('lift',ascending = False)[0:20]

                               antecedents  ... conviction
65              (Gender_Female, Age_Adult)  ...   2.639542
68                          (Survived_Yes)  ...   1.452431
19                          (Survived_Yes)  ...   1.523634
18                         (Gender_Female)  ...   2.525187
67                         (Gender_Female)  ...   2.145099
66               (Survived_Yes, Age_Adult)  ...   1.521732
97               (Class_Crew, Survived_No)  ...  54.427079
100               (Gender_Male, Age_Adult)  ...   1.160764
49                            (Class_Crew)  ...   9.335480
48                (Gender_Male, Age_Adult)  ...   1.238157
94    (Class_Crew, Survived_No, Age_Adult)  ...  47.903983
53               (Class_Crew, Survived_No)  ...  47.903983
103                          (Gender_Male)  ...   1.132622
56                           (Gender_Male)  ...   1.132622
102                           (Class_Crew)  ...   1.630802
95   (Gender_Male, Survived_No, Age_Adult)  ...   1.205800
10                            (Class_Crew)  ...   8.216621
47                 (Class_Crew, Age_Adult)  ...   8.216621
50                           (Gender_Male)  ...   1.191004
11                           (Gender_Male)  ...   1.191004

[20 rows x 9 columns]

In [8]:
rules[rules.lift>1]

                  antecedents  ... conviction
0                 (Class_1st)  ...   2.682493
1                 (Age_Adult)  ...   1.005694
8               (Survived_No)  ...   1.052040
9                 (Class_3rd)  ...   1.281251
10               (Class_Crew)  ...   8.216621
..                        ...  ...        ...
101  (Survived_No, Age_Adult)  ...   1.139090
102              (Class_Crew)  ...   1.630802
103             (Gender_Male)  ...   1.132622
104             (Survived_No)  ...   1.105434
105               (Age_Adult)  ...   1.023334

[74 rows x 9 columns]