<a href="https://colab.research.google.com/github/srujan2309/Python-for-DS/blob/main/Confidence%20Interval%20for%20Inferential%20Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
from scipy import stats
import pandas as pd
import numpy as np

In [18]:
glaxo_df=pd.read_csv('glaxo_df.csv')

In [19]:
glaxo_df.head()

         Date      Date.1    Close      gain
0  2010-01-05  2010-01-05  1616.80 -0.005444
1  2010-01-06  2010-01-06  1638.50  0.013422
2  2010-01-07  2010-01-07  1648.70  0.006225
3  2010-01-08  2010-01-08  1639.80 -0.005398
4  2010-01-11  2010-01-11  1629.45 -0.006312

In [20]:
glaxo_df_ci = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print( 'Gain at 95% confidence interval is:', np.round(glaxo_df_ci, 4))

Gain at 95% confidence interval is: [-0.0258  0.0266]

In [21]:
beml_df=pd.read_csv('beml_df.csv')

beml_df_ci = stats. norm.interval(0.95,
loc=beml_df.gain.mean(),
scale=beml_df.gain.std())

In [22]:
beml_df_ci

(-0.051532729680601415, 0.05207422583871588)